@import 'normalize.css/normalize.css';
@import 'basscss/css/basscss.min.css';
@import './fontello/css/fontello-embedded.css';
@import './fontello/css/animation.css';
@import './variables.css';

* {
  color: #333;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  padding-bottom: 3rem;
}

/* color */
.white { color: white }

/* background  color */
.bg-color1 { background-color: var(--color1) }



/* misc */
.pointer { cursor: pointer }