@import 'normalize.css/normalize.css';
@import 'basscss/css/basscss.min.css';
@import './fontello/css/fontello-embedded.css';
@import './fontello/css/animation.css';
@import './variables.css';
@import './shake.css';

* {
  color: #333;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  padding-bottom: 3rem;
}

/* color */
.white { color: white }
.silver { color: #aaa }

/* background  color */
.bg-color1 { background-color: var(--color1) }


/* border */
.border-silver { border-color: silver }
.border-white { border-color: white }


/* misc */
.outline-none { outline: none }
.pointer { cursor: pointer }


/* component */
.button {
  background-color: transparent;
  transition: all 0.3s ease;
  &:disabled { cursor: not-allowed; opacity: 0.5; }
  &:hover { opacity: 0.75 }
  &:active {
    opacity: 0.5;
    background-color: #fffa;
  }

}
